<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section 
			name="assetbuilder" 
			type="BinaryAssetBuilder.SerializedSectionHandler,BinaryAssetBuilder.Core" />
		<section
			name="SqlMetricsListener"
			type="System.Configuration.NameValueFileSectionHandler"/>
	    <section
			name="BABFileMetricsListener"
			type="System.Configuration.NameValueFileSectionHandler" />
	</configSections>

	<!-- monitorPaths is for persistent BAB, in addition to root/art/audio/data, folders that should be monitored for changes -->
	<assetbuilder
		serializedType="BinaryAssetBuilder.Settings,BinaryAssetBuilder.Core"
		schema="..\Schemas_EP1\xsd\CnC3Types.xsd"
		dataRoot=".."
		defaultArtPaths=".\Art"
		defaultAudioPaths=".\Audio"
		defaultDataPaths=".;.\Mods_EP1;.\SAGEXML_EP1"
		monitorPaths="..\">

		<monitorPaths>
				<path value="t" />
		</monitorPaths>

		<plugins>
			  <!-- special handling for texture types -->
      			<plugin
					assetTypes="TerrainTextureAtlas,Texture,OnDemandTexture"
					enabled="true" 
					useBuildCache="true"
					targetType="BinaryAssetBuilder.TextureCompiler.Plugin, BinaryAssetBuilder.TextureCompiler"
					/>
				<!-- special handling for audio -->
				<plugin
					assetTypes="AudioFile,AudioFileMP3Passthrough,PathMusicMap,PathMusicTrack,PathMusicEvent"
					enabled="true" 
					useBuildCache="true"
					targetType="BinaryAssetBuilder.AudioCompiler.Plugin, BinaryAssetBuilder.AudioCompiler"
					/>
				<!-- special handling for animation -->
				<plugin
					assetTypes="W3DAnimation,W3DMesh"
					enabled="true" 
					useBuildCache="true"
					targetType="BinaryAssetBuilder.W3XCompiler.Plugin, BinaryAssetBuilder.W3XCompiler"
					/>
				<plugin
					assetTypes="GameObject,WeaponTemplate,ArmorTemplate"
					enabled="true" 
					targetType="BinaryAssetBuilder.Tokenizer.Plugin, BinaryAssetBuilder.Tokenizer"
					/>
				<!-- this is the default handler for all types - no need to explicitly add new types anymore -->
				<plugin
					assetTypes="#all"
					enabled="true" 
					targetType="BinaryAssetBuilder.XmlCompiler.Plugin, BinaryAssetBuilder.XmlCompiler"
					/>
		</plugins>

		<verifiers>
			<!-- this is the default handler for all types - no need to explicitly add new types anymore -->
			<plugin
				assetTypes="#all"
				enabled="true" 
				targetType="BinaryAssetBuilder.GameDataVerifier.Plugin, BinaryAssetBuilder.GameDataVerifier"
				/>
		</verifiers>

		<StringHashBins>
			<!-- The InstanceId and TypeId are internally handled by BAB -->
			<Type SchemaType="Poid" Bin="POID"/>
			<Type SchemaType="StringHash" Bin="STRINGHASH"/>
		</StringHashBins>

		<buildConfigurations>
			<!-- Shipping configurations -->
			<buildConfiguration name="LowLOD" postfix="L" />
			<buildConfiguration name="MediumLOD" postfix="M" />

		</buildConfigurations>

	</assetbuilder>
</configuration>

